{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block header %}
    <header class="imagenFondo">
        <div class="caja">
            <h1 class="container">¿NOS VAMOS?</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
{% endblock %}